Source: ros-jazzy-fadecandy-driver
Section: misc
Priority: optional
Maintainer: Rein Appeldoorn <reinzor@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libusb-1.0-0-dev, pkg-config, ros-jazzy-ament-cmake, ros-jazzy-diagnostic-updater, ros-jazzy-fadecandy-msgs, ros-jazzy-rclcpp, ros-jazzy-rclpy <!nocheck>, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-fadecandy-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libusb-1.0-0-dev, ros-jazzy-diagnostic-updater, ros-jazzy-fadecandy-msgs, ros-jazzy-rclcpp, ros-jazzy-ros-workspace
Description: ROS driver for fadecandy LED controllers
