Source: ros-lyrical-fadecandy-driver
Section: misc
Priority: optional
Maintainer: "Rein Appeldoorn" <reinzor@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libusb-1.0-0-dev, pkg-config, ros-lyrical-ament-cmake, ros-lyrical-diagnostic-updater, ros-lyrical-fadecandy-msgs, ros-lyrical-rclcpp, ros-lyrical-rclpy <!nocheck>, ros-lyrical-ros-workspace
Homepage: https://index.ros.org/p/fadecandy_driver/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-fadecandy-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libusb-1.0-0-dev, ros-lyrical-diagnostic-updater, ros-lyrical-fadecandy-msgs, ros-lyrical-rclcpp, ros-lyrical-ros-workspace
Description: ROS driver for fadecandy LED controllers
